In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('creditcard.csv')

In [3]:
df.head(2)

,uid,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,amount,class
0,A1,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,A2,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0

In [4]:
df = df.drop(columns = 'uid')

In [5]:
X = df.drop(columns = 'class')
y = df[['class']]

In [6]:
X.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,amount
count,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,...,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000,203588.000000
mean,-0.096602,0.001749,0.297813,0.071057,-0.102599,0.043076,-0.045921,0.014353,0.008658,-0.009599,...,0.018098,-0.013531,-0.043495,-0.014629,0.003749,0.057627,0.005722,0.001393,0.001819,89.739175
std,1.897881,1.626282,1.454765,1.400509,1.363207,1.312909,1.218568,1.209052,1.133569,1.093279,...,0.754828,0.737302,0.693905,0.614535,0.603867,0.494384,0.488131,0.395266,0.318081,248.499234
min,-56.407510,-72.715728,-33.680984,-5.683171,-42.147898,-26.160506,-43.557242,-73.216718,-13.434066,-24.588262,...,-25.222345,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-11.710896,0.000000
25%,-0.959394,-0.583166,-0.373023,-0.796733,-0.777825,-0.714067,-0.574342,-0.183670,-0.662060,-0.520262,...,-0.195863,-0.226757,-0.536808,-0.168510,-0.343145,-0.245531,-0.331229,-0.067743,-0.042899,5.990000
50%,-0.079504,0.079711,0.475380,0.072018,-0.160554,-0.221798,-0.006564,0.041380,-0.072437,-0.099266,...,-0.045317,-0.041537,-0.031153,-0.028095,0.051784,0.099402,-0.060953,0.005517,0.018075,23.000000
75%,1.217861,0.783310,1.211204,0.878719,0.478169,0.442026,0.507802,0.336899,0.624023,0.443775,...,0.149076,0.153564,0.432131,0.116563,0.422644,0.383219,0.260759,0.089114,0.078104,79.282500
max,2.454930,22.057729,9.382558,16.875344,34.801666,22.529298,36.677268,20.007208,15.594995,23.745136,...,39.420904,27.202839,10.503090,19.002942,4.022866,7.519589,3.517346,12.152401,33.847808,19656.530000

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42, stratify=y)

In [8]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(X_train, y_train)

DecisionTreeClassifier()

In [9]:
y_pred = model.predict(X_test)

In [10]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     40640
           1       0.81      0.82      0.82        78

    accuracy                           1.00     40718
   macro avg       0.90      0.91      0.91     40718
weighted avg       1.00      1.00      1.00     40718

In [1]:
import pickle

In [19]:
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [28]:
df.dropna(inplace=True)

In [29]:
df.head(2)

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,...,v21,v22,v23,v24,v25,v26,v27,v28,amount,class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0

In [2]:
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

In [10]:
model.predict(X)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [11]:
import sklearn

In [12]:
sklearn.__version__

'0.24.2'

In [11]:
import joblib

joblib.dump(model, 'model.joblib')

['model.joblib']

In [12]:
m = joblib.load('model.joblib')

In [13]:
m.predict(X)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)